
.mitem
{
	display: block;
	text-align: center;;
}

.header
{
	height: 50px;
	line-height: 50px;
	background: #555;
}


.header a
{
	color:  #fff;
	font-weight:bold;
	padding : 0 12px;
}

.header a.name
{
	font-size: 16px;
}

.header i
{
	display: inline-block;
	font-size: 18px;
	height: 50px;
	padding: 0 12px;
	line-height: 50px;
}

.menu li
{
	display: block;
}

.menu li a
{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	color: #dde;
}

.menu i
{
	font-size: 18px;
	padding: 0 20px;
}

.bottomBorder
{
	border-bottom: 1px dashed #333;
}
