body
{
	background:#242424;
	color:#aaa;
	font-size: 14px;
	height: 100%;
	min-width: 100%;
	display: block;
}

html{
	height: 100%;
}

ul
{
	padding: 0;
	margin : 0;
	list-style: none;
}

a
{
	text-decoration: none;
	color:#ee4;
}

a:hover{
    text-decoration: none;
}

.clear
{
	clear: both;
}

.footer
{
	border-top: 1px solid #121212;
	padding-top: 60px;
	text-align: center;
	display: block;
	font-size: 10px;
	color: #666
}

.IB
{
	display: inline-block;
	height: 100%;
}

.FR
{
	float: right;
}

.B
{
	display: block;
	min-height: 10px;
}

.FL
{
	float: left;
}

.bb
{
	border-bottom: 1px solid #060606;
}
