.data_list .head
{
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
	color: #888;
}

.data_list td
{
	padding: 0;
	margin: 0;

}

tr td
{
  border-bottom:1pt dashed #555;
}

.data_list span, .data_list a
{
	display: inline-block;
	text-align: left;
	padding: 8px 12px;
}

.data_list .data
{
	color: #ccc;
}

.data_list a
{
	background: #a44;
	color: #fff;
	padding: 8px 24px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
}

i
{
	padding-right: 12px;
	font-weight: normal;
}
